@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{

    font-family: 'poppins', sans-serif;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

header {
    background-color: #d3d3d3;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo {
    max-width: 100px;
}

#search-bar {
    flex-grow: 1;
    margin: 0 20px;
    position: relative;
    border-radius: 20px; 
    background-color:#696969;
    display: flex;
    align-items: center;
    padding: 5px;
}

#search-input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    background-color: #696969;
   
}

.botao button{
    border-radius: 20px;
    border: none ;
    background-color: transparent;
    font-size: 16px;
}

.action-button {
    color: #333131; 
    padding: 10px 15px; 
    border: none; 
    cursor: pointer;
}

.action-button:hover {
    
    color: #696969;
}


        .container {
            
           background-color: #d3d3d3;
           position: relative;
           padding: 20px;
           text-align: left;
           margin-bottom: 40px;
           margin-top: 10px;
           min-height: 250px;
           border-radius: 8px;
           overflow: hidden;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center; 
       }

       .container img{
        width: 200px;
        position: absolute;
        left: 100px;
        top: 30px;
    }

    .container a img{
        width: 200px;
        position: absolute;
        left: 1360px;
    }
       
       .title {
           font-size: 35px;
           font-weight: bold;
           text-align: center;
       }
       
       .image {
          
           float: left; 
           margin-right: 20px;
           border-radius: 10px;
           margin-bottom: 10px;
          
       
       }
       
       .button-container {
           text-align: center; 
       }
       
       .button {
           display: inline-block;
           padding: 10px 20px;
           background-color:#d3d3d3;
           color: #000;
           border: none;
           border-radius: 10px;
           text-decoration: none;
           margin-top: 10px;
           background-color: #808080;
       }
       
       .button:hover {
           background-color: #726a6a;
       }
       
       .form {
           text-align: center; 
       }

       .container form ::placeholder{
           text-align: center;
       }


footer {
    background-color: #d3d3d3; 
    color: #000;
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


.middle-section {
    text-align: center;
    padding: 0px 0px 0px 0px; 
}


.middle-section h2 {
    font-size: 18px; 
  
}

.middle-section form {
    margin-top: 10px; 
}


.middle-section input[type="email"] {
    width: 100%;
    padding: 10px; 
    margin-bottom: 10px; 
 ;
   
}

.middle-section button[type="submit"] {
    background-color: #808080;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    cursor: pointer; 
}


.icones {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content:space-evenly;
}

.icones a {
    text-decoration: none;
    color: #fff; 
    margin-left: 10px;
    margin-bottom: 10px;
}

h6 {
    position: absolute;
    text-align: center;
    margin-left: 70px;
}
