
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

img{
    width: 450px;
    height: 150px;
}

.botao{ 
    margin-right: 1600px;
    justify-content: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para os botões de navegação */
nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007acc;
    color: #fff;
    border-radius: 5px;
    transition: transform 0.2s ease; 
}


nav ul li a:hover {
    transform: translateY(-5px); 
    background-color: #00518a; 
}


nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

input,
select,
button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007acc;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00518a;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #007acc;
    color: #fff;
}
