body {
    background-color: khaki;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    margin: 10px;
    background-color: rgb(255, 125, 31);
}
